
{% extends "manage_books.html" %}

{% block categoryModify %}

<div class="jumbotron text-center log-section" >

<div class="clear-top">
<form class = "form-horizontal" role = "form" id="categoryModifyForm" action="/modifyCategory/" method="POST">

    <div class = "form-group">
      <label class = "col-sm-3 control-label">Category Name</label>
      <div class = "col-sm-5">
         <input type = "text" class = "form-control" name="category"  id ="category" value="{{ category }}" required>
      </div>
   </div>

    <div class = "form-group">
        <div class = "col-sm-5">
    <input type='hidden' id="csrfmiddlewaretoken" name='csrfmiddlewaretoken' value='{{csrfmiddlewaretoken}}' />
    <input type ='hidden' id ="orgCode"  name="orgCode"   value='{{orgCode}}' required/>
            <input type ='hidden' id ="categoryId"  name="categoryId"   value='{{categoryId}}' required/>
    <button type="submit" id="subButton" class="btn btn-primary" >Submit</button>
        </div>
    </div>

</form>
</div>
</div>

{% endblock %}