{% extends "base.html" %}

{% block login %}

<nav class="navbar navbar-inverse main-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
</nav>

<div class="jumbotron text-center log-section" >
<div class="clear-top">
<form class = "form-horizontal" role = "form" id="orgRegForm">

    <div class = "form-group">
      <label class = "col-sm-2 control-label">Orgnisation Name</label>
      <div class = "col-sm-5">
         <input type = "text" class = "form-control" name="orgName"  id ="orgName" placeholder = "Enter Organisation Name " required>
      </div>
   </div>

    <div class = "form-group">
      <label class = "col-sm-2 control-label">Orgnisation Adress</label>
      <div class = "col-sm-5">
          <textarea class="form-control" rows="5"  name="orgAdress" id="orgAdress"></textarea>
      </div>
   </div>

     <div class = "form-group">
      <label class = "col-sm-2 control-label">Orgnisation Phone Number</label>
      <div class = "col-sm-5">
          <input type = "text" class = "form-control" name="orgPhone"  id ="orgPhone" placeholder = "Enter Phone Number" required>
      </div>
   </div>

     <div class = "form-group">
      <label class = "col-sm-2 control-label">Email</label>

      <div class = "col-sm-5">
         <input type = "text" class = "form-control" id ="orgEmail" name="orgEmail" placeholder = "Enter your EMail" required>
      </div>
   </div>

   <div class = "form-group">
      <label for = "inputPassword" class = "col-sm-2 control-label">Password</label>

      <div class = "col-sm-5">
         <input type = "password" class = "form-control" id="password1" name="password1" placeholder = "Enter Your Password" required>
      </div>
   </div>

    <div class = "form-group">
      <label for = "inputPassword" class = "col-sm-2 control-label">Confirm Password</label>

      <div class = "col-sm-5">
         <input type = "password" class = "form-control" id="password2" name="password2" placeholder = "Confirm Your Password" required>
          <span id='message'></span>
      </div>
   </div>

    <div class = "form-group">
        <div class = "col-sm-5">
    <input type='hidden' id="csrfmiddlewaretoken" name='csrfmiddlewaretoken' value='{{csrfmiddlewaretoken}}' />
    <button type="submit" id="subButton" class="btn btn-primary" onclick="javascript:submitOrgRegistry();return false;" >Submit</button>
        </div>
    </div>

</form>
</div>
    <div id="disp">

    </div>


    <div class="text-center" >
    <div class = "form-group">
      <div class = "col-sm-5">
         <a href="/login/"> <u> Login </u></a>
      </div>
     </div>
       </div>

</div>
{% endblock %}