{% extends "manage_books.html" %}

<style>
td {
  white-space: normal !important;
  word-wrap: break-word;
}
table {
  table-layout: fixed;
}

</style>

{% block bookList %}
<div id="stalePageContent">
    <p>Book Name : <font color="blue"><b> {{ bookName }}  </b></font>  </p>

    <p>Copy Name : <font color="blue"><b>
       <a href="/reserve/bookCopy/?bookCopyCode={{ bookCopyCode }}&bookId={{ bookId }}&bookCopyId={{ bookCopyId }}">
        {{ bookCopyCode }} <i class="fa fa-hand-o-left"></i>
       </a>
    </b></font>  </p>

    <div class="row">
   <div class="col-sm-4">

       <form action="/bookList/copies/reserve/" method="GET">
                    <input type="hidden" name="bookCopyCode" value="{{ bookCopyCode }}" />
                    <input type="hidden" name="bookCopyId" value="{{ bookCopyId }}" />
                    <input type="hidden" name="bookId" value="{{ bookId }}" />
            <button type="submit" id="subButton" class="btn btn-primary">Reserve this Book</button>
       </form>

  </div>
  <div class="col-sm-4">

      <form action="/bookList/copies/" method="GET">
                    <input type="hidden" name="bookId" value="{{ bookId }}" />
            <button type="submit" id="subButton1" class="btn btn-success">Go to Other Copies</button>
      </form>

  </div>
</div>

<br>
<div class="clear-top">
  <table class="table table-hover" border="1">
    <thead>
      <tr>
        <th><u>First Name</u></th>
          <th><u>Last Name</u></th>
          <th><u>Email</u></th>
          <th><u>Phone</u></th>
          <th><u>Adress</u></th>
          <th><u>Reserved on</u></th>
          <th><u>From</u></th>
          <th><u>To</u></th>
           {% if userRole == '0' %}
          <th align="center" style="text-align:center"><u>Actions</u></th>
            {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
          <td ><font size="3">{{ reservation.firstName}}</font></td>
          <td ><font size="3">{{ reservation.lastName}}</font></td>
          <td ><font size="3">{{ reservation.email}}</font></td>
          <td ><font size="3">{{ reservation.phone}}</font></td>
          <td ><font size="3">{{ reservation.adress}}</font></td>
          <td>
              <b><font size="3">{{ reservation.dateReserved}}</font></b>
          </td>
          <td>
              <b><font size="3">{{ reservation.dateFrom}}</font></b>
          </td>
          <td>
              <b><font size="3">{{ reservation.dateTo}}</font></b>
          </td>


             {% if userRole == '0' %}
           <td>
              <form action="/reserve/bookCopy/delete" method="GET">
                    <input type="hidden" name="bookCopyCode" value="{{ bookCopyCode }}" />
                    <input type="hidden" name="bookCopyId" value="{{ bookCopyId }}" />
                    <input type="hidden" name="bookId" value="{{ bookId }}" />
                     <input type="hidden" name="reservationId" value="{{ reservation.reservationId }}" />
                    <button type="submit" id="subButton2" class="btn btn-danger">Delete</button>
              </form>
          </td>
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}
